/* Configurações mais gerais */
@media only screen and (min-width: 320px) and (max-width: 992px){
	nav .iconsNetwork {
	  display: none;
	}
	nav .iconsNetwork i{
	  margin: 0;
	}
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 600px){
	#sobre .btn{
		display: flex;
		justify-content: center;
		text-align: center;
		width: 50%;
		margin-left: 25%;
	}
	nav{
	  width: 100vw;
	  overflow: hidden;
	  background: #fff;
	  display: fixed;
	}
	nav a, .navbar-brand {
	  color: #02052a!important;
	}
	.nav-link{
		text-align: center;
	}
}

/* Tablets */
@media only screen and (min-width: 600px) and (max-width: 992px){
	#sobre .btn{
		display: flex;
		justify-content: center;
		text-align: center;
		width: 25%;
		margin-left: 37.5%;
	}
}

/* Pequenos Desktops */
@media only screen and (min-width: 992px) and (max-width: 1200px){
	
}

/* Pequenos Desktop */
@media only screen and (min-width: 1200px){
	
}

