/* Informações Gerais */
body, html {
  width: 100%;
  height: 100%;
}
a{
  cursor: pointer;
}
section {
  padding: 80px 0;
}
.btn{
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid #fff;
  font-size: 12px;
  line-height: 100%;
}

/* Fontes */
body{
  overflow-x: hidden;
  color: #999;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.navbar {
  color: #333;
  text-transform: uppercase;
}
.navbar li{
  font-size: 14px;
}
.subtitulo{
  color: #333;
  text-transform: uppercase;
}
.intro-lead-in, .titulo, #frase span {
  display: block;
  text-transform: none;
  font-weight: 400;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  margin-bottom: 20px;
}
h3, h4 {
    font-size: 1.5rem;
}
h3{
  margin: 10px 0;
}

/* Informações Navegacao */
nav{
  width: 100vw;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.95);
  display: fixed;
}
nav a, .navbar-brand {
  color: #fff!important;
}
.navbar-brand{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}
nav .iconsNetwork {
  width: 150px;
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
}
nav .iconsNetwork i{
  font-size: 18px;
  margin: 0 10px;
}
.nav-link {
  margin: 0 5px;
}
nav .iconsNetwork .text-primary {
    color: #fff!important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url('../img/icons/menu.png');
}

/* Informações Header */
header {
  background-image: url('../img/bg/header_2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100vh;
}
header .intro-text {
  padding-top: 40vh;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 50px;
}
header .btn{
  color: #fff;
}

/* Informações Sobre */
#sobre .sectionContent{
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-flow: row wrap;
}
#sobre .img-envolpe  img, #sobre .texto-envelope{
  width: 100%;
}
#sobre img{
  width: 100%;
}
.subtitulo {
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}
.subtitulo:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #f38181;
  transform: translateX(-50%);
}
.subtitulo .titulo {
  display: block;
  text-transform: none;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
#sobre .texto-envelope{
  margin-top: 30px;
  text-align: justify;
}
#sobre .btn{
  color: #000;
  border: 2px solid #000;
  margin-top: 10px;
}
/* Informações Frase */
#frase {
    background-image: url(../img/parallax/Portfolio_fotoTrabalho_Fotografia_RJ_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 70px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align:  center;
    color: #fff;
}

#frase .conteudo-envelope {
    padding: 30px auto;
}
#frase .conteudo-envelope span {
    display: inline;
    font-size: 15px;
    line-height: 50px;
}

#frase .conteudo-envelope i {
    margin-bottom: 30px;
}

#frase .conteudo-envelope h3 {
  font-size: 20px;
  margin: 0;
}

/* Informações Serviços */
#servicos{
  background-color: #f5f5f5;
}
#servicos .text-primary {
    color: #F05F40 !important;
}
.service-box {
    margin: 50px auto 0;
}

/* Informações Projetos */
#portfolio{
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-flow: row wrap;
}
#portfolio .row{
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px auto 0;
}
#portfolio img{
  width: 100%;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  padding: 0;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
#portfolio .btn{
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid #000;
  font-size: 12px;
  line-height: 100%;
  color: #000;
}

/* Informações Modais */
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  min-width: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
.modal-dialog {
    max-width: 100%;
    margin: 30px auto;
}
.modal-dialog img{
    max-width: 100%;
}
.modal-dialog .row {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* Informações Contato */
#contato {
    background-color: #f5f5f5;
}
#contato p{
  margin-bottom: 50px;
}
#contato a{
  color: #F05F40;
}
#contato i{
  opacity: 1.0;
  visibility: visible;
  color: #333;
  margin-bottom: 20px
}

/* Informações Footer */
footer{
  width: 100vw;
  overflow: hidden;
  background-color: #000;
  padding-top: 30px; 
}
footer a, .copyright a{
  color: #fff;
  font-weight: bold;
  color: #F05F40;
}
.social-icon {
    padding-top: 30px;
}

.social-icon > ul {
    padding: 0 auto;
    text-align: center;
    opacity: 0.5;
}

.social-icon > ul > li {
    display: inline-block;
    margin-right: 20px;
}

.social-icon > ul > li > a {
    background-color: #26292e;
    display: block;
    height: 70px;
    width: 70px;

  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
     -o-transform: rotateY(180deg);
      transform: rotateY(180deg);

  -webkit-transition: all 400ms ease-out 0s;
     -moz-transition: all 400ms ease-out 0s;
     -o-transition: all 400ms ease-out 0s;
      transition: all 400ms ease-out 0s;
}

.social-icon > ul > li > a > i {
    color: #fff;
    display: inline-block;
    font-size: 32px;
    line-height: 70px;
    margin: 0;

    opacity: 0.5;
    filter: alpha(opacity=30);

  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
     -o-transform: rotateY(180deg);
      transform: rotateY(180deg);

  -webkit-transition: all 400ms ease-out 0s;
     -moz-transition: all 400ms ease-out 0s;
     -o-transition: all 400ms ease-out 0s;
      transition: all 400ms ease-out 0s;
}

.social-icon > ul > li:hover a {
    background-color: #007bff;
  
  -webkit-transform: rotateY(0deg);
     -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
     -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
}

.social-icon > ul > li:hover a i {
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
  
  -webkit-transform: rotateY(0deg);
     -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
     -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
}

.copyright {
    padding: 20px 0;
    color: #fff;
    font-size: 12px;
    font-style: italic;
}
.copyright span {
    text-transform: uppercase;
    padding-bottom: 0.5em;
}

.copyright > a > img {
    padding-bottom: 0.5em;
}

/* Animacoes */
.btn:hover{
  transition: all .3s;
  background-color: #fff;
  color: #bbb;
  font-weight: bold;
  border: 0;
}
#sobre .btn{
  color: #007bff;
  font-weight: bold;
  border: 2px solid #007bff;
}
#portfolio .btn{
  color: rgba(254, 209, 54, 1);
  font-weight: bold;
  border: 2px solid rgba(254, 209, 54, 1);
}
#sobre .btn:hover{
  transition: all .3s;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: 0;
}
#portfolio .btn:hover{
  transition: all .3s;
  background-color: rgba(254, 209, 54, 1);
  color: #fff;
  font-weight: bold;
  border: 0;
}
header .btn-primary {
    background-color: transparent; 
}